@font-face {
    font-family: "DIN Medium";
    src: url("../Fuentes/DIN Medium.ttf");
}

* {
	font-family: "DIN Medium", 'Trebuchet MS', Arial;
	font-size: 12px;
}

.page-header {
	background-color: blue;
}

.table {
	table-layout: fixed;
 	word-wrap: break-word;
}

.table, table, th {
	text-align: center;
}

.table tbody tr td {
     vertical-align: middle;
}

.table tbody td:nth-child(1) {
	font-weight: bold;
}